:root {
	--bg-clr: hsl(212, 45%, 89%);
	--clr-400: hsl(0, 0%, 100%);
	--clr-600: hsl(220, 15%, 55%);
	--clr-800: hsl(218, 44%, 22%);
	--fn: "Outfit", sans-serif;
	--fn-reg: 400;
	--fn-bld: 700;
}

html,
body {
	height: 100vh;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	font-style: inherit;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	background-color: var(--bg-clr);
	font-family: var(--fn);
	line-height: 1.5;
}

main {
	min-height: 90vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card {
	padding-top: 0.9rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 18.4rem;
	min-height: 30rem;
	background-color: var(--clr-400);
	border-radius: 1.4rem;
	box-shadow: 0.11rem 0.22rem 0.9rem hsl(195, 3%, 76%);
}

.qr-code {
	width: 16.8rem;
	border-radius: 0.8rem;
}

h1,
p {
	text-align: center;
}

h1 {
	color: var(--clr-800);
	font-weight: var(--fn-bld);
	margin: 1rem;
	font-size: 20px;
}

p {
	color: var(--clr-600);
	font-size: 15px;
	margin: -0.5rem 1rem 1rem 1rem;
}
